body {
  background: transparent;
}
.App {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #FF5F6D, #FFC371);
    position: absolute;
    right: 0;
    top: 15%;
    width: 40%;
    border-radius: 30px;
}

.App-light {
    color:#232127;
}

.App-dark {
    color:#e5e3e8;
}

.submitform:hover {
    color: #FF5F6D;
}

.customizefocus:focus {
    outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 20px white;
}

.fakebadge:hover {
    cursor: default;
    background: transparent;
    color: white;
}

.submitAnnounce {
  background: transparent;
}

.submitAnnounce:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.winnerActive {
  background: rgba(255, 255, 255, 0.3);
}

.transparentBg {
  background: transparent;
}
